#gral #container #contTleft {
	text-align: center;
}
input    { border: 1px solid #0E67A1; }
input.button 		 {
	background-color: white;
}
input.button:hover { border-color:  #FC902E; cursor: pointer; }
